{% extends 'base.html.twig' %}

{% block title %}Comentario index{% endblock %}

{% block body %}
    <h1>Comentario index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CriadoEm</th>
                <th>Descricao</th>
                <th>TipoOperacao</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comentario in comentarios %}
            <tr>
                <td>{{ comentario.id }}</td>
                <td>{{ comentario.criadoEm ? comentario.criadoEm|date('Y-m-d') : '' }}</td>
                <td>{{ comentario.descricao }}</td>
                <td>{{ comentario.tipoOperacao }}</td>
                <td>
                    <a href="{{ path('app_comentario_show', {'id': comentario.id}) }}">show</a>
                    <a href="{{ path('app_comentario_edit', {'id': comentario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_comentario_new') }}">Create new</a>
{% endblock %}
